parameters:
  level: 8
  paths:
    - src/
  symfony:
    containerXmlPath: ./var/cache/dev/App_KernelDevDebugContainer.xml
  ignoreErrors:
    - identifier: missingType.generics
    - identifier: missingType.iterableValue
    - message: '#Method App\\Entity\\User::getUserIdentifier\(\) should return non-empty-string but returns string#'
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon