<table class="table forum-table">
    <thead>
    <tr>
        <th scope="col" colspan="3" class="homepage-category">
            <span class="homepage-category-title">{{ 'homepage.table.title.online'|trans }}</span>
        </th>
    </tr>
    </thead>
    <tbody class="forum-table-online">
    <tr>
        <td rowspan="2" width="2%" class="text-center align-middle">
            <img src="{{ asset('images/whosonline.gif') }}" alt="who is online icon" />
        </td>
        <td>
            Our users have posted a total of ... topics<br />
            We have ... registered users<br />
            The newest registered user is ...
        </td>
    </tr>
    <tr>
        <td>
            In total there is ... user online :: ... Registered, ... Hidden and ... Guest<br />
            [ Administrator ]   [ Moderator ]<br />
            Most users ever online was ... on ...<br />
            Registered Users: ...
        </td>
    </tr>
    </tbody>
</table>