{% extends 'base.html.twig' %}

{% block sub_title %}
    {{ 'category.title.edit'|trans }}
{% endblock %}
{% block content %}
    <h3>{{ 'category.title.edit'|trans({ '%title%': category.title }) }}</h3>
    {% include 'admin/category/_form.html.twig' with {'form': form} only %}
{% endblock %}