{% extends 'base_admin.html.twig' %}

{% block sub_title %}
    {{ 'category.title.new'|trans }}
{% endblock %}
{% block content %}
    <h3>{{ 'category.title.new'|trans }}</h3>
    {% include 'admin/category/_form.html.twig' with {'form': form} only %}
{% endblock %}