<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ 'admin.title.dashboard'|trans }} -
            {% block sub_title %}{% endblock %}
        {% endblock %}
    </title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/babdevpagerfanta/css/pagerfanta.css') }}">
        {% block additionnal_stylesheets %}
        {% endblock %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="bg-black bg-opacity-25">
    {% block body %}
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    {% block sidebar %}
                        {% include 'shared/layout/_sidebar.html.twig' %}
                    {% endblock %}
                </div>
                <div class="content col py-3">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% block additionnal_javascripts_bottom %}
{% endblock %}
</body>
</html>
