{% extends 'base.html.twig' %}

{% block sub_title %}
    {{ 'topic.title.show'|trans({'%topic%': topic.title}) }}
{% endblock %}
{% block content %}
    {% include 'forum/_new_topic.html.twig' with {'forum': topic.forum, 'topic': topic, 'pager': posts } only %}
    <table class="table forum-table my-1">
        <tbody>
        {% include 'topic/_topic_title.html.twig' with {'title': topic.title} only %}
        <tr class="text-center forum-table-title">
            <th scope="col" width="15%">{{ 'topic.label.author'|trans }}</th>
            <th scope="col">{{ 'topic.label.message'|trans }}</th>
        </tr>
        {% include 'topic/_message_block.html.twig' with {
            'title': topic.title,
            'message': topic,
            'author': topic.author,
            'edit_link': path('topic_edit', {'topic': topic.id})
        } only %}
        {% for post in posts %}
            {% include 'topic/_message_block.html.twig' with {
                'title': post.topic.title,
                'message': post,
                'edit_link': path('post_edit', {'post': post.id})
            } only %}
        {% endfor %}
        {% include 'topic/_topic_title.html.twig' with {'title': topic.title} only %}
        </tbody>
    </table>
    {% include 'forum/_new_topic.html.twig' with {'forum': topic.forum, 'topic': topic, 'pager': posts } only %}
{% endblock %}