{% extends 'base_admin.html.twig' %}

{% block sub_title %}
    {{ 'forum.title.edit'|trans }}
{% endblock %}
{% block content %}
    <h3>{{ 'forum.title.edit'|trans({ '%title%': forum.title }) }}</h3>
    {% include 'admin/forum/_form.html.twig' with {'form': form} only %}
{% endblock %}