<div class="row">
    <div class="col-4">
        <a href="{{ path('topic_new', {'forum': forum.id}) }}">
            <img src="{{ asset('images/post.gif') }}" alt="new topic btn" />
        </a>
        {% if topic is defined %}
            <a href="{{ path('post_new', {'topic': topic.id}) }}">
                <img src="{{ asset('images/lang_english/msg_newpost.gif') }}" alt="new topic btn" />
            </a>
        {% endif %}
    </div>
</div>