<div class="row">
    <div class="col-2">
        <a href="{{ path('topic_new', {'forum': forum.id}) }}">
            <img src="{{ asset('images/post.gif') }}" alt="new topic btn" />
        </a>
    </div>
</div>